$black-text: rgba(34, 37, 41, 1);
$gray-text: rgba(34, 37, 41, 0.8);
//$red-main: #ff4f64;
$red-main: #e23939;
$blue-main: #3C70FF;

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6em;
}

html {
  font-size: 62.5%;
}
